[Desktop Entry]
Name=Tennix!
Comment=A simple two-player tennis game
Comment[pl]=Prosta gra w tenisa dla dwóch graczy
Icon=tennix.png
Exec=tennix
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
Encoding=UTF-8
# vi: encoding=utf-8